{% extends "layout.html" %}

{% block title %}
Apology
{% endblock %}

{% block main %}

    <div class="d-flex" id="apology-box">
        <div class="p-2 bd-highlight"><img src="https://cdn-icons-png.flaticon.com/256/394/394576.png"></a>
        </div>
        <div class="p-2 bd-highlight text-start">
            <h1 class="fw-semibold">Something went wrong</h1>
            <h1 class="fw-light fs-5">Error {{err}}</h1>
            <p>{{message}}</p>
        </div>
    </div>
    

{% endblock %}